body {
    margin: 0;
}

.target {
    /*height: 100px;*/
    width: 600px;
    height: 200px;
    background: silver;
    /*overflow: hidden;*/


    box-sizing: border-box;
    /*padding: 30px;*/
    /*padding: 10px 20px;*/
    /*padding: 10px 20px 30px;*/
    /*padding: 10px 20px 30px 40px;*/

    /*padding: 0 0 0 20px;*/
    padding-left: 20px;
    /*padding-right: ;*/
    /*padding-top: ;*/
    /*padding-bottom: ;*/

    /*border: 10px solid cornflowerblue;*/

    border-left: 4px solid cornflowerblue;

    /*border-radius: 50%;*/
    border-radius: 10px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;

    /*margin: 100px;*/
    margin: 100px auto;

    box-shadow: black 10px 10px 10px 10px;
    /*transition: 3s;*/
    transition: 300ms;


}

.target:hover {
    height: 400px;
    /*transition: 300ms;*/
}
